<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal - InforDay</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 50px;

        }

        h1 {
            text-align: left;
            padding: 15px;
        }

        p {
            text-align: left;
            font-size: 110%;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row col-lg-6 col-md-12">

            <h1>Aviso Legal de InforDay</h1>

            <h1>1. Introducción</h1>

            <p>InforDay es un sitio web de noticias que ofrece información de actualidad sobre diversos temas.
                El
                contenido de
                este sitio web se proporciona únicamente con fines informativos y de entretenimiento.</p>

            <h1>2. Descargo de responsabilidad</h1>

            <p>La información publicada en InforDay se obtiene de diversas fuentes, tanto públicas como
                privadas, y se
                considera confiable en el momento de su publicación. Sin embargo, InforDay no garantiza la
                exactitud,
                integridad
                o actualidad de dicha información, es decír, no todo el contenido es verdadero.</p>

            <h1>3. Contenido generado por usuarios</h1>

            <p>InforDay puede permitir la publicación de comentarios y otros contenidos generados por los
                usuarios.
                InforDay no
                se hace responsable del contenido generado por los usuarios y no garantiza su exactitud, veracidad o
                legalidad.</p>

            <h1>4. Enlaces a terceros</h1>

            <p>InforDay puede contener enlaces a sitios web de terceros. Estos enlaces se proporcionan
                únicamente para
                su
                comodidad y no implican ninguna aprobación o respaldo por parte de InforDay del contenido de dichos
                sitios web.
                InforDay no se hace responsable del contenido, productos o servicios ofrecidos en dichos sitios web.
            </p>

            <h1>5. Propiedad intelectual</h1>

            <p>Todos los contenidos de InforDay, incluyendo textos, imágenes, gráficos, logotipos y marcas
                comerciales,
                están
                protegidos por las leyes de propiedad intelectual. Queda prohibida cualquier reproducción,
                distribución,
                comunicación pública o transformación de dichos contenidos sin el consentimiento previo y por
                escrito de
                InforDay.</p>

            <h1>6. Limitación de responsabilidad</h1>

            <p>En ningún caso InforDay será responsable de ningún daño directo, indirecto, incidental,
                consecuente o
                especial
                derivado del uso o la imposibilidad de usar este sitio web o de cualquier error u omisión en su
                contenido,
                incluso si se ha advertido de la posibilidad de tales daños.</p>

            <h1>7. Ley aplicable y jurisdicción</h1>

            <p>Este aviso legal se rige por las leyes de [España]. Cualquier controversia que surja del uso de
                este
                sitio web
                se
                someterá a la jurisdicción exclusiva de los tribunales de [España].</p>

            <h1>8. Contacto</h1>

            <p>Para cualquier consulta relacionada con este aviso legal, puedes ponerte en contacto con nosotros a
                través de la
                siguiente dirección de correo electrónico: [euskodev.eus].
            </p>
        </div>
    </div>
</body>

</html>