<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Cookies - InforDay</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 50px;

        }

        h1 {
            text-align: left;
            padding: 15px;
        }

        p {
            text-align: left;
            font-size: 110%;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row col-lg-8">

            <h1>Política de Cookies</h1>


            <h1>¿Qué son las cookies?</h1>


            <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador, teléfono móvil,
                tablet, etc.) cuando visitas nuestro sitio web. Estas cookies permiten a InforDay recordar información
                sobre tu
                visita, como tus preferencias de idioma y otras opciones, con el objetivo de ofrecerte una mejor
                experiencia de
                navegación.</p>

            <h1>¿Por qué utilizamos cookies en InforDay?</h1>

            <p>En InforDay utilizamos cookies para diversas finalidades, entre las que se incluyen:

                Mejorar la experiencia del usuario: Personalizamos el contenido y la publicidad, recordamos tus
                preferencias
                (por ejemplo, el tamaño de la fuente) y optimizamos la navegación.
                Recopilar datos estadísticos: Analizamos el tráfico del sitio web para entender cómo los usuarios
                interactúan
                con nuestro contenido y así mejorar continuamente nuestros servicios.
                Integrar funcionalidades de terceros: Utilizamos servicios de terceros, como redes sociales y
                herramientas de
                análisis, que también pueden utilizar cookies.</p>

            <h1>Tipos de cookies que utilizamos:</h1>

            <p>Cookies estrictamente necesarias: Estas cookies son esenciales para el correcto funcionamiento de
                nuestro sitio
                web y te permiten navegar y utilizar sus funciones básicas.
                Cookies de rendimiento: Estas cookies recopilan información sobre cómo los usuarios utilizan nuestro
                sitio web
                (páginas visitadas, enlaces seguidos, etc.) para mejorar su rendimiento y optimizar la experiencia del
                usuario.
                Cookies de funcionalidad: Estas cookies permiten recordar tus preferencias, como el idioma seleccionado
                o el
                tamaño de la fuente.
                Cookies de publicidad: Estas cookies se utilizan para mostrar anuncios relevantes para tus intereses,
                basados en
                tu navegación y en tu perfil de usuario.</p>

            <h1> ¿Cómo controlar las cookies?</h1>

            <p>Puedes controlar y gestionar las cookies a través de la configuración de tu navegador. La mayoría de los
                navegadores te permiten:

                Aceptar todas las cookies: Esta es la configuración predeterminada en la mayoría de los navegadores.

                Rechazar todas las cookies: Esto puede limitar la funcionalidad de algunos sitios web.
                Seleccionar qué cookies aceptar: Puedes configurar tu navegador para que acepte solo determinadas
                cookies.</p>

            <h1>¿Qué cookies utilizan los terceros con los que trabajamos?</h1>

            <p>InforDay trabajamos con terceros que también pueden instalar cookies en tu dispositivo. Para obtener
                más
                información sobre las cookies de estos terceros y cómo gestionarlas, te recomendamos que consultes
                sus
                respectivas políticas de privacidad.
            </p>
        </div>
    </div>

</body>

</html>