<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad - InforDay</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 50px;

        }

        h1 {
            text-align: left;
            padding: 15px;
        }

        p {
            text-align: left;
            font-size: 110%;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row col-lg-6">

            <h1>Política de Privacidad</h1>

            <h1>1. Introducción</h1>

            <p>En InforDay, valoramos tu privacidad. Esta política de privacidad describe cómo recopilamos,
                utilizamos y
                protegemos la información que nos proporcionas cuando visitas nuestro sitio web.</p>

            <h1>2. Información que recopilamos</h1>

            <P>Podemos recopilar la siguiente informació

                Datos personales: Nombre, dirección de correo electrónico, y otra información que nos proporcionas
                voluntariamente al registrarte, suscribirte a nuestro boletín o participar en encuestas.
                Datos de navegación: Información sobre tu dispositivo, dirección IP, navegador, sistema operativo,
                páginas
                visitadas y enlaces seguidos.
                Cookies: Utilizamos cookies para mejorar tu experiencia de navegación. Para obtener más información,
                consulta
                nuestra Política de Cookies.</P>

            <h1>3. Cómo utilizamos tu información</h1>

            <P>Utilizamos la información que recopilamos para:

                Personalizar tu experiencia: Adaptar el contenido de nuestro sitio web a tus intereses.
                Mejorar nuestro sitio web: Analizar el tráfico y mejorar la funcionalidad de nuestro sitio.
                Enviar comunicaciones: Enviarte boletines, noticias y actualizaciones.
                Cumplir con nuestras obligaciones legales: Conservar registros con fines legales y contables.</P>

            <h1> 4. Cómo compartimos tu información</h1>

            <P>Podemos compartir tu información con:

                Proveedores de servicios: Empresas que nos ayudan a gestionar nuestro sitio web, como proveedores de
                hosting
                y
                análisis de datos.
                Anunciantes: Para mostrarte anuncios relevantes.
                Autoridades competentes: Si estamos obligados por ley.</P>

            <h1>5. Seguridad de tu información</h1>

            <P>Implementamos medidas de seguridad técnicas y organizativas adecuadas para proteger tus datos
                personales
                contra el acceso no autorizado, la alteración, la divulgación o la destrucción.</P>


            <h1>6. Tus derechos</h1>

            <P>Tienes derecho a:

                Acceder: Solicitar una copia de tus datos personales.
                Rectificar: Corregir cualquier información inexacta.
                Suprimir: Solicitar la eliminación de tus datos personales.
                Oponerte: Oponerte al tratamiento de tus datos personales.
                Limitación: Solicitar la limitación del tratamiento de tus datos personales.
                Portabilidad: Recibir tus datos personales en un formato estructurado, de uso común y legible por
                máquina.
            </P>

            <h1>7. Enlaces a terceros</h1>

            <P>Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables de las
                prácticas
                de privacidad de estos sitios web.</P>


            <h1>8. Cambios en esta política</h1>

            <P>Podemos actualizar esta política de privacidad periódicamente. Te recomendamos que revises esta
                política
                con regularidad para estar informado de cualquier cambio.</P>


            <h1>9. Contacto</h1>

            <P>Si tienes alguna pregunta sobre esta política de privacidad, puedes contactarnos a través de
                [euskodev.eus].
            </P>



        </div>
    </div>

</body>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>

</html>